body{
    font-family: 'Roboto', sans-serif;
}
h1, h2{
    font-size: 60px;
    text-transform: uppercase;
}
.half-part{
    width: 40%;
    float: left;
    margin-left: 7%;
    padding-left: 2%;
}
.half-part img{
    width: 100%;
}
section{
    height: 500px;
}
.btn{
    text-decoration: none;
    background-color:tomato ;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}